:root {
    --color-1: #EEF5FFFF;
    --color-2: #B4D4FFFF;
    --color-3: #86B6F6FF;
    --color-4: #176B87FF;
    --font: 'Exo';
    --round-edges: 5px;
    --min-width: 50px;
    --items-margin: 10px;
    --button-padding: 5px;
}

button.Style {
    padding: var(--button-padding);
    margin: var(--items-margin);
    min-width: var(--min-width);
    cursor: pointer;
}

button.Bolder{
    font-family: var(--font);
    font-size: x-large;
    font-weight: bold;
}

button.Bold{
    font-family: var(--font);
    font-size: large;
    font-weight: normal;
}

button.ResponsiveSize {
    font-size: clamp(0.75rem, 1.5vw, 1.5rem);
}

button.TransparentOnLight {
    transition: color 0.3s ease;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-4);
    border: none;
}

button.TransparentOnLight:hover {
    transition: color 0.3s ease;
    color: var(--color-3);
}

button.TransparentOnDark {
    transition: color 0.3s ease;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-1);
    border: none;
}

button.TransparentOnDark:hover {
    transition: color 0.3s ease;
    color: var(--color-2);
}

button.ColoredOnLight {
    transition: background-color 0.3s ease;
    background-color: var(--color-4);
    border-radius: var(--round-edges);
    color: var(--color-1);
    border: none;
}

button.ColoredOnLight:hover {
    transition: background-color 0.3s ease;
    background-color: var(--color-3);
}