:root {
    --color-1: #EEF5FFFF;
    --color-2: #B4D4FFFF;
    --color-3: #86B6F6FF;
    --color-4: #176B87FF;
    --font: 'Exo';
    --round-edges: 5px;
    --vertical-margin: 50px;
    --items-margin: 10px;
    --padding: 5px;
    --border-width: 2px;
}

div.ea-heading {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: var(--vertical-margin);
    box-shadow: 0px var(--border-width) 0px var(--color-4);
}

div.ea-pure-paragraph{
    margin: var(--items-margin);
    margin-top: var(--vertical-margin);
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
}

div.ea-image-paragraph {
    margin-top: var(--vertical-margin);
    padding: var(--padding);
    display: flex;
    
}

div.ea-image-paragraph div.ea-image {
    display: flex;
    flex-direction: column;
}

div.ea-image-paragraph div.ea-image img {
    margin-top: var(--items-margin);
    border-radius: var(--round-edges);
    width: 100%;
    object-fit: contain;
}

div.ea-image-paragraph div.ea-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
    margin-left: var(--items-margin);
    margin-right: var(--items-margin);
}