:root {
    --color-1: #EEF5FFFF;
    --color-2: #B4D4FFFF;
    --color-3: #86B6F6FF;
    --color-4: #176B87FF;
    --font: 'Exo';
    --round-edges: 5px;
    --vertical-margin: 50px;
    --items-margin: 10px;
    --padding: 5px;
    --border-width: 2px;
}

div.MainContentContainer {
    width: 60%;
    margin-top: calc(var(--vertical-margin) * 2);
    margin-left: 20%;
    margin-right: 20%;
}

div.Heading {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: var(--vertical-margin);
    box-shadow: 0px var(--border-width) 0px var(--color-4);
}

div.PureParagraph{
    margin: var(--items-margin);
    margin-top: var(--vertical-margin);
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
}

div.ImageParagraph {
    margin-top: var(--vertical-margin);
    padding: var(--padding);
    display: flex;
    
}

div.ImageParagraph div.Image {
    display: flex;
    flex-direction: column;
}

div.ImageParagraph div.Image img {
    margin-top: var(--items-margin);
    border-radius: var(--round-edges);
    width: 100%;
    object-fit: contain;
}

div.ImageParagraph div.Paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
    margin-left: var(--items-margin);
    margin-right: var(--items-margin);
}

@media (max-width: 920px) {
    div.MainContentContainer {
        width: calc(100% - var(--items-margin) * 3 );
        margin-left: var(--items-margin);
        margin-right: calc(var(--items-margin) * 2);
    }
}