:root {
    --color-1: #EEF5FFFF;
    --color-2: #B4D4FFFF;
    --color-3: #86B6F6FF;
    --color-4: #176B87FF;
    --font: 'Exo';
    --round-edges: 5px;
    --items-height: 50px;
    --items-margin: 10px;
    --button-padding: 5px;
}

nav.ea-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--items-height) + var(--items-margin) + var(--items-margin));
    z-index: 900;
}

nav button.ea-open-menu{
    background-color: var(--color-1);
    font-family: var(--font);
    font-size: large;
    transition: color 0.3s ease;
    border-radius: var(--round-edges);
    display: none;
    padding: var(--button-padding);
    border: none;
    height: var(--items-height);
    width: var(--items-height);
    margin: var(--items-margin);
    color: var(--color-4);
    float: right;
    cursor: pointer;
}

nav button.ea-open-menu:hover{
    transition: color 0.3s ease;
    background-color: var(--color-4);
    color: var(--color-1);
}

nav button.open-panel{
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    font-family: var(--font);
    font-size: large;
    transition: color 0.3s ease;
    text-align: left;
    padding: var(--button-padding);
    border: none;
    height: var(--items-height);
    margin: var(--items-margin);
    color: var(--color-4);
    float: right;
    cursor: pointer;
}

nav button.open-panel:hover{
    color: var(--color-3);
}

nav button.ea-logo {
    background-color: rgba(0, 0, 0, 0);
    height: var(--items-height);
    margin: var(--items-margin);
    font-family: var(--font);
    margin-left: 20vw;
    float: left;
    font-size: x-large;
    border: none;
    font-weight: bolder;
    cursor: pointer;

    color: var(--color-4);
}

nav.ea-nav div.ea-item-list {
    margin-right: 20vw;
}

@media (max-width: 920px) {
    nav.ea-nav button.ea-open-menu{
        display: block;
    }

    nav.ea-nav button.ea-logo {
        margin-left: var(--items-margin);
    }

    nav.ea-nav div.ea-item-list {
        position: fixed;
        height: 100vh;
        width: 50vw;
        margin-right: var(--items-margin);
        background-color: var(--color-4);
    }

    nav.ea-nav button.open-panel{
        color: var(--color-1);
    }

    nav.ea-nav button.open-panel:hover{
        color: var(--color-2);
    }
}