:root {
    --color-1: #EEF5FFFF;
    --color-2: #B4D4FFFF;
    --color-3: #86B6F6FF;
    --color-4: #176B87FF;
    --font: 'Exo';
    --round-edges: 5px;
    --items-height: 50px;
    --img-size: 25px;
    --items-margin: 10px;
    --button-padding: 5px;
}

nav.NavigationBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--items-height) + var(--items-margin) + var(--items-margin));
    z-index: 900;
}

img.ButtonSized {
    height: var(--img-size);
}

img.InDark {
    filter: invert(1);
}

button.PanelOpener {
    display: none;
    margin: var(--items-margin);
    width: var(--min-width);
    height: var(--min-width);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button.NavigationItem {
    text-align: left;
    float: right;
}

button.NavigationLogo {
    float: left;
    margin-left: 20vw;
}

div.NavigationItemList {
    margin-right: 20vw;
}

@media (max-width: 920px) {

    button.PanelOpener {
        display: flex;
    }

    div.NavigationItemList {
        position: absolute;
        background-color: var(--color-4);
        top: 0;
        left: 0;
        height: 100vh;
        width: 50vw;
        z-index: 1100;
        margin: 0;
    }

    button.NavigationItem {
        color: var(--color-1);
    }
}