:root {
    --color-1: #EEF5FF;
    --color-2: #B4D4FF;
    --color-3: #86B6F6;
    --color-4: #176B87;
    --items-margin: 10px;
    --text-indent: 30px;
    --round-edges: 5px;
    --button-padding: 5px;
    --font: 'Exo';
}

body.ea-fullscreen-body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: var(--font);
    background-color: var(--color-1);
}

div.ea-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20vw;
    margin-left: 20vw;
    flex-wrap: wrap;
    width: calc(100% - 40vw);
    height: 100vh;
}

div.ea-main-container div.ea-hero {
    display: flex;
    flex-direction: column;
}

div.ea-main-container div.ea-hero h1{
    font-size: clamp(1.5rem, 4vw, 5rem);
}

div.ea-main-container div.ea-hero p{
    margin-left: var(--text-indent);
    font-size: clamp(1rem, 1vw, 5rem);
}

div.ea-main-container div.ea-hero button{
    border: none;
    font-family: var(--font);
    font-size: clamp(1rem, 1vw, 5rem);
    background-color: var(--color-4);
    color: var(--color-1);
    border-radius: var(--round-edges);
    align-self: flex-end;
    cursor: pointer;
    transition: all 0.3s ease-out;
    padding: var(--button-padding);
}

div.ea-main-container div.ea-hero button:hover{
    background-color: var(--color-1);
    color: var(--color-4);
    transition: all 0.3s ease-out;

}

@media (max-width: 920px) {
    div.ea-main-container {
        justify-content: center;
        margin-right: var(--items-margin);
        margin-left: var(--items-margin);
        width: calc(100% - var(--items-margin) - var(--items-margin));
    }
}

  